$cyan: #66fcf1;
$gunmetal: rgb(31, 40, 51);
$gunmetal-flush: rgba(31, 40, 51, 0.5);
$flame: rgb(228, 87, 46);
$aquamarine: rgb(69, 162, 158);
$flash-white: #ebebeb;

.about-card > .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gunmetal-flush;
  width: 500px;
  height: 500px;
  border-radius: 20px !important;
  overflow: hidden !important;
}
.about-card > .card::before {
  position: absolute;
  height: 100%;
  height: 100%;
  width: 810px;
  content: "";
  background: linear-gradient($cyan, $flash-white, $flame);
  animation: rotate 8s ease-in infinite;
}
.about-card > .card::after {
  content: "";
  position: absolute;
  background-color: $gunmetal;
  inset: 6px;
  border-radius: 16px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .about-card > .card {
    width: 100%;
    height: 400px;
  }
  .about-card > .card::before {
    animation: none;
    background: $gunmetal;
    width: 100%;
  }
}
