$burgundy: #890620;
$oldlace: #f5f1e3;
$dark-cadet: #000F27;
$space-cadet: #202c59;
$space-cadet-hue: rgba(34, 0, 34, 0.8);
$caribbean-current: #0EB1D2;

.about-card > .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $space-cadet;
  width: 40dvw;
  height: 500px;
  border-radius: 20px !important;
  overflow: hidden !important;
}
.about-card > .card::before {
  position: absolute;
  height: 100%;
  width: 810px;
  content: "";
  background: linear-gradient($caribbean-current, $oldlace);
  animation: rotate 10s ease-in-out infinite;
}
.about-card > .card::after {
  content: "";
  position: absolute;
  background-color: $dark-cadet;
  inset: 6px;
  border-radius: 16px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px),  (max-width: 960px) {
  .about-card > .card {
    width: 90dvw;
    height: 430px;
  }
  .about-card > .card::before{
    width: 100%;
    height: 100%;
  }
 
}
