$burgundy: #890620;
$oldlace: #f5f1e3;
$tomato: #fc5130;
$space-cadet: #202c59;
$space-cadet-hue: rgba(34, 0, 34, 0.8);
$caribbean-current: #156064;


.project-card > .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 610px;
  border-radius: 20px !important;
  background-color: $space-cadet-hue;
  overflow: hidden !important;
}
.project-card > .card::before {
  position: absolute;
  height: 100%;
  width: 810px;
  content: "";
  border-radius: 16px;
  background: linear-gradient($oldlace, $burgundy);
  animation: rotate 16s ease-in infinite;
}
.project-card > .card::after {
  content: "";
  position: absolute;
  background-color: $space-cadet;
  inset: 5px;
  border-radius: 16px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px), (max-width: 960px) {
  .project-card > .card {
    width: 90dvw;
  }
  .project-card > .card::before {
    width: 100%;
    height: 100%;
  }
  .section > .container > .title {
    font-size: 1.2rem !important;
  }
  .section > .container > .subtitle {
    font-size: 95% !important;
  }
}
