$cyan: #66fcf1;
$gunmetal: #1f2833;
$gunmetal-flush: rgba(31, 40, 51, 0.3);
$flame: #e4572e;
$aquamarine: #45a29e;
$flash-white: #ebebeb;

.project-card > .card {
  width: 800px;
  height: 350px;
  border-radius: 20px !important;
}
