$cyan: #66fcf1;
$gunmetal: rgb(31, 40, 51);
$gunmetal-flush: rgba(31, 40, 51, 0.5);
$flame: rgb(228, 87, 46);
$aquamarine: rgb(69, 162, 158);
$flash-white: #ebebeb;

.about-container {
  height: 1800px;
  width: 100%;
}

.about-grid-parent {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 2fr);
  row-gap: 20px;
}

.headers {
  display: flex;
  background: url("/src/assets/hd-us.png") no-repeat;
  background-size: cover;
  background-blend-mode:darken;
  background-attachment:scroll;
  background-clip:padding-box;
  background-color: $gunmetal-flush;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 3rem;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 6rem;
}
.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 1 / 3 / 2;
}
.vaqueros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 2/2/3/3;
}
.vaqueros img {
  width: 500px;
}
.vaq-img {
  border-radius: 20px;
  border: solid 6px linear-gradient($cyan, $flame);
}
.vaq-img:hover {
  cursor: pointer;
  animation: expand 0.5s cubic-bezier(0.16, 0.03, 0.27, 0.69) infinite;
}
@keyframes expand {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1) translateX(-15px, 5px);
  }
  50% {
    transform: scale(1.2) translate(0, 0);
  }
  75% {
    transform: scale(1) translate(15px, -5px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.fcb {
  margin-top: 3rem;
  grid-area: 3/1/4/2;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.fcb img {
  cursor: pointer;
  width: 600px;
  height: 400px;
  position: absolute;
  transform-origin: center;
}
.img-1 {
  border-radius: 20px;
  border: 7px solid $cyan;
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-5px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
  .fcb:hover & {
    transform: translate(0, 0);
  }
}

.img-2 {
  border: 7px solid $flame;
  border-radius: 20px;
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-20px, 5px);
  transition: transform 300ms ease;
  .fcb:hover & {
    transform: translate(0, 0);
  }
}

.img-3 {
  border: 7px solid $cyan;
  border-radius: 20px;
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  .fcb:hover & {
    transform: translate(0, 0);
  }
}

.img-4 {
  border: 7px solid $flame;
  border-radius: 20px;
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-25px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
  .fcb:hover & {
    transform: translate(0, 0);
  }
}
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 3 / 2 / 4 / 3;
}
.headers > .title {
  font-style: italic;
  font-size: 4rem;
  margin-right: 3rem;
}
.headers > .subtitle {
  font-size: 8rem;
  margin-left: 6rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px), (max-width: 960px) {
  .about-container {
    height: 2800px;
    width: 100%;
  }
  .about-grid-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
 
  .vaqueros{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 4 / 1 / 5 / 2;
  }
  

  .headers > .title {
    font-size: 2.5rem;
  }
  .headers > .subtitle {
    font-size: 3.5rem;
  }
  .headers{
    grid-area: 1 / 1 / 2 / 2;
  }
  .background{
    grid-area: 2 / 1 / 3 / 2;
  }
  .education{
    grid-area: 3 / 1 / 4 / 2;
  }
  .hobbies{
    grid-area: 5 / 1 / 6 / 2;
  }
  .fcb{
    display: flex;
    align-items: center;
    grid-area: 6 / 1 / 7 / 2;

  }
  .fcb img {
    width: 320px;
    height: 270px;
  }
}
