$align-items: center;
$justify-content: start;
$flex-direction:column;

.about-container{
    display: flex;
    height: 100dvh;
    width: 100%;
    flex-direction: $flex-direction;
     align-items: $align-items;
     justify-content: $justify-content;
}


.about-container > .title{
    margin-top: 6rem;
}
