$align-items: center;
$justify-content: start;
$flex-direction:column;

.contact-container{
    display: flex;
    height: 100dvh;
    width: 100%;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}
.contact-container > .title{
    margin-top: 6rem;

}
