$align-items: center;
$justify-content: start;
$flex-direction:column;

.contact-container{
    height: 700px;
    display: flex;
    width: 100%;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

.contact-container > .title{
   margin-top: 6rem;
}

