$align-items: center;
$justify-content: center;
$flex-direction: column;

$burgundy: #890620;
$oldlace: #f5f1e3;
$dark-cadet: #000F27;
$space-cadet: #202c59;
$space-cadet-hue: rgba(34, 0, 34, 0.8);
$caribbean-current: #0EB1D2;


.home-container {
  top: 0;
  display: flex;
  min-height: 100dvh;
  width: 100dvw;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  overflow: hidden;
}

.home-container > .intro {
  color: $oldlace;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px $caribbean-current;
}
.home-container > .name {
  color: $caribbean-current;
  font-size: 6rem;
  text-shadow: 2px 2px 2px #202c59;
  overflow: hidden;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
}

.home-container > .occupation {
  color: $oldlace;
  font-size: 2rem;
  text-shadow: 1px 1px 1px $caribbean-current;
}

/*Animation*/

.anim-typewriter {
  animation: typewriter 5s steps(40) 1s,
    blinkTextCursor 10s steps(40) normal infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 58dvw;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}


@media only screen and (max-width: 768px) {
  .home-container > .intro {
    font-size: 2rem;
  }
  .home-container > .name {
    font-size: 2.5rem;
  }
  .home-container > .occupation {
    font-size: 1.2rem;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 60dvw;
    }
  }
}
