$align-items: center;
$justify-content: center;
$flex-direction:column;

.project-container{
    display: flex;
    height: 100dvh;
    width: 100%;
    flex-direction: $flex-direction;
}
.project-container > .title{
    margin-top: 6rem;
    justify-content: $justify-content;

}