@charset 'utf-8';
@import "/node_modules/bulma/sass/utilities/functions.sass";
@import "/node_modules/bulma/sass/utilities/initial-variables.sass";

$custom-colors: (
  "cyan": (
    #66fcf1,
    #fff,
  ),
  "verdigris": (
    #45a29e,
    #000,
  ),
  "silver": (
    #c5c6c7,
    #fff,
  ),
  "gunmetal": (
    #1f2833,
    #000,
  ),
  "night": (
    #0b0c10,
    #000,
  ),
);
.navbar {
  box-shadow: 0px 2px 2px 0px rgba(3, 14, 21, 0.2);
  height: 70px;
}

.navbar-burger {
  color: #66fcf1 !important;
  height: 70px !important;
}
#navbarBurger{
    margin-left: 0;
}

.nav-logo{
   
    margin-left: 2rem;
    height: 60px;
}
@media only screen and (max-width: 1022px){
    .nav-logo{
        margin-left: 0;
        margin-right: 2rem;
    }
    .navbar-brand{
        display: flex;
        justify-content: space-between;
    }

}


.navbar-item {
  color: #66fcf1 !important;
}
.navbar-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1022px) {
  .navbar-end {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
  }
}

.navbar-link.is-active,
.navbar-link:focus,
a.navbar-item:hover {
  background-color: #053c5e !important;
}

.navbar-link.is-active,
.navbar-link:focus,
a.navbar-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #45a29e;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.navbar-link.is-active,
.navbar-link:focus,
a.navbar-item:hover::before {
  transform: scaleX(1);
}

@import "/node_modules/bulma/bulma.sass";
