$justify-content: space-between;
$align-items: center;
$flame: #e4572e;
$cyan: #66fcf1;
$aquamarine: #45a29e;

.footer-container {
    left: 0;
    bottom: 0;
    width: 100%;
    cursor: default;
}

.inside__footer{
    height: 70px;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.copyright{
    margin-left: 3rem;
    text-align: left;
    color: $aquamarine;
    order: 1;
    margin-bottom: 0;

}
.social{
    margin-right: 3rem;
    order: 2;
    margin-bottom: 0;
}
.icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    color: $aquamarine;
    &:hover{
        color: $cyan;
    }
}

