$justify-content: space-between;
$align-items: center;
$flame: #e4572e;
$cyan: #66fcf1;
$aquamarine: #45a29e;
$gunmetal: rgb(31, 40, 51);
$gunmetal-flush: rgba(31, 40, 51, 0.1);

.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 90px;
  cursor: default;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.inside__footer {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  background-color: $gunmetal-flush;
  justify-content: $justify-content;
  align-items: $align-items;
 
}
.copyright {
  margin-left: 3rem;
  text-align: left;
  color: $cyan;
  order: 1;
  margin-bottom: 0;
}
.social {
  margin-right: 3rem;
  order: 2;
  margin-bottom: 0;
}
.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  color: $aquamarine;
  &:hover {
    color: $cyan;
  }
}

@media only screen and (max-width: 768px), (max-width: 960px) {
    .inside__footer {
        padding-bottom: calc(1rem + env(safe-area-inset-bottom));
      }
  .copyright {
    font-size: 0.8rem;
  }
  .icon {
    height: 20px;
    width: 20px;
  }
}
