
$cyan: #66fcf1;
$gunmetal: rgb(31, 40, 51);
$gunmetal-flush: rgba(31, 40, 51, 0.5);
$flame: rgb(228, 87, 46);
$aquamarine: rgb(69, 162, 158);
$flash-white: #ebebeb;
.project-image{
    height: 300px;
    width: 100%;
    border-radius: 20px;
}

