
$cyan: #66fcf1;
$gunmetal: rgb(31, 40, 51);
$gunmetal-flush: rgba(31, 40, 51, 0.5);
$flame: rgb(228, 87, 46);
$aquamarine: rgb(69, 162, 158);
$flash-white: #ebebeb;


.project-image{
    height: 320px;
    width: 100%;
    border-radius: 20px;
}
.tech-group{ 
    display: flex;
    align-items: center;
    justify-content: end;
}
.tech-btn{
    margin: 0 .5rem 1rem 0;
    border-radius: 5px 5px 10px 10px !important;
}

@media only screen and (max-width: 768px), (max-width: 960px) {
    .project-image{
        height: 250px;
        width: 100%;
        border-radius: 20px;
    }
}