@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #1f2833;
  overflow: hidden !important;
}
body{
  font-family: 'Syne', sans-serif !important;
  height: 100% !important;
  position: fixed !important;
  /* prevent overscroll bounce*/
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  scroll-behavior: smooth !important; 
  /* iOS velocity scrolling */
  background: url("/src/assets/sand.jpg") no-repeat center;
  background-blend-mode: screen !important;
  background-color: #fff !important;
  background-size: cover !important;
}

