@charset 'utf-8';
@import "/node_modules/bulma/sass/utilities/functions.sass";
@import "/node_modules/bulma/sass/utilities/initial-variables.sass";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, footer, section{
  background-color: #1f2833 !important;
}
$custom-colors: (
  "cyan": (
    #66fcf1,
    #fff,
  ),
  "verdigris": (
    #45a29e,
    #000,
  ),
  "flame": (
    #e4572e,
    #fff,
  ),
  "gunmetal": (
    #1f2833,
    #000,
  ),
  "flash-white": (
    #ebebeb,
    #000,
  ),
);


@import "/node_modules/bulma/bulma.sass";
