.footer-container {
  background-color: #293e51;
  height: 4rem;
  scroll-snap-align: end;
  scroll-snap-stop: always;
}

.footer-logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  height: 4rem;
}
